{% extends "base.html" %}
{% block content %}
<h1 class="heading-xl text-white mb-1">Présences de la semaine</h1>
<div class="table-responsive p-3">
  <table class="table table-bordered table-hover table-striped align-middle bg-white rounded-xl">
    <thead class="table-dark">
      <tr>
        <th scope="col rounded">utilisateur</th>
        {% for jour in jours %}
          <th scope="col">{{ jour|date:"l d/m" }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for ligne in tableau %}
        <tr>
          <td>{{ ligne.user.username }}</td>
          {% for emoji in ligne.jours %}
            <td class="text-center" style="font-size: 1.5em;">{{ emoji }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="mt-4">
  <button class="btn btn-dark">Enregistrer</button>
</div>
{% endblock %}
