{% extends "base.html" %}
{% load static %}
{% load presence_extras %}
{% block content %}
<h1 class="heading-xl text-white mb-1">Présences de la semaine</h1>
<form method="post">
  {% csrf_token %}
  <div class="table-responsive p-3 d-none d-md-block">
    <table class="table table-bordered table-hover table-striped align-middle bg-white rounded-xl">
      <thead class="table-dark">
        <tr>
          <th scope="col ellipsis">Utilisateur</th>
          {% for jour in jours %}
          <th scope="col">{{ jour|date:"l d/m" }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for ligne in tableau %}
        <tr class="ligne-detaillee">
          <td class="ellipsis">{{ ligne.user.username }}</td>
          {% for emoji in ligne.jours %}
          <td class="text-center" style="font-size: 1.5em;">{{ emoji }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
        <tr>
          <td class="ellipsis">Total présences</td>
          {% for jour, total in total_presences_par_jour %}
          <td class="text-center" style="font-size: 1.5em;">{{ total }}</td>
          {% endfor %}
        </tr>
        {% if not semaine_verrouillee %}
        <tr>
          <td>Mes présences</td>
          {% for field in form %}
            <td>{{ field }}</td>
          {% endfor %}
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

  <!-- Tableau mobile (transposé) -->
  <div class="table-responsive p-3 d-block d-md-none">
    <table class="table table-bordered table-hover table-striped align-middle bg-white rounded-xl">
      <thead class="table-dark">
        <tr>
          <th scope="col">Jour</th>
          <th scope="col">Total</th>
          {% for ligne in tableau %}
          <th scope="col" class="ellipsis ligne-detaillee">{{ ligne.user.username }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for jour in jours %}
        <tr>
          <td>{{ jour|date:"l d/m" }}</td>
          <td class="text-center" style="font-size: 1.5em;">{{ total_presences_par_jour|index:forloop.counter0|last }}
          </td>
          {% for ligne in tableau %}
          <td class="text-center ligne-detaillee" style="font-size: 1.5em;">{{ ligne.jours|index:forloop.counter0 }}
          </td>
          {% endfor %}
          {% if not semaine_verrouillee %}
          
        {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if not semaine_verrouillee %}
      <table>
        {% for field in form %}
          <tr>
            <td class="ellipsis">{{ field.label_tag }}</td>
            <td>{{ field }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  </div>
  {% if not semaine_verrouillee %}
  <button type="submit" class="btn btn-success mb-2">Valider ma semaine</button>
  {% endif %}
</form>

<div class="d-flex justify-content-end">
  {% if utilisateurs_non_remplis %}
  <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
    <div class="card-header">Utilisateurs n’ayant pas rempli leurs présences</div>
    <div class="card-body">
      <p class="card-text">
        {% for user in utilisateurs_non_remplis %}
        {{ user.username }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>
    </div>
  </div>
  {% else %}
  <div id="message-validation-tous" class="alert alert-success rounded-xl shadow-sm p-4 mt-4">
    🎉 Tous les utilisateurs ont rempli leurs présences ! 🎉
  </div>
  {% endif %}
</div>

<p class="d-inline-flex gap-1">
<div class="d-flex justify-content-end">
  <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOption"
    aria-expanded="false" aria-controls="collapseOption">
    Options </button>
</div>
</p>
<div class="collapse" id="collapseOption">
  <div class="d-flex justify-content-end">
    <div class="alert alert-light rounded-xl shadow-sm p-4">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="switchModeDetaille" checked>
        <label class="form-check-label" for="switchModeDetaille">Activer le mode détaillé</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="switchAfficherValidation" checked>
        <label class="form-check-label" for="switchAfficherValidation">Afficher "Présences validées pour tous"</label>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/presence_tableau.js' %}"></script>
{% endblock %}